@tailwind base;
@tailwind components;

@font-face {
  font-family: "helenehessregular";
  src: url("fonts/helenehess-regular-webfont.woff2") format("woff2"),
    url("fonts/helenehess-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kings_caslonregular";
  src: url("fonts/kings_caslon-webfont.woff2") format("woff2"),
    url("fonts/kings_caslon-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue, sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}

#mainCarousel,
#mainCarousel2,
#mainCarousel3 {
  width: 100%;
  margin: 0 auto 0 auto;
  --carousel-button-color: #170724;
  --carousel-button-bg: transparent;
  --carousel-button-width: 64px;
  --carousel-button-height: 64px;
  --carousel-button-svg-stroke-width: 0;
}

#mainCarousel .carousel__slide,
#mainCarousel2 .carousel__slide,
#mainCarousel3 .carousel__slide {
  width: 100%;
  padding: 0;
}

#mainCarousel .carousel__button.is-prev,
#mainCarousel2 .carousel__button.is-prev,
#mainCarousel3 .carousel__button.is-prev {
  left: 2rem;
  content: url("Component15.svg");
  opacity: 0.5 !important;
}

#mainCarousel .carousel__button.is-next,
#mainCarousel2 .carousel__button.is-next,
#mainCarousel3 .carousel__button.is-next {
  right: 2rem;
  content: url("Component14.svg");
  opacity: 0.5 !important;
}

@media screen and (max-width: 768px) {
  #mainCarousel .carousel__button.is-prev,
  #mainCarousel2 .carousel__button.is-prev,
  #mainCarousel3 .carousel__button.is-prev {
    visibility: hidden;
  }

  #mainCarousel .carousel__button.is-next,
  #mainCarousel2 .carousel__button.is-next,
  #mainCarousel3 .carousel__button.is-next {
    visibility: hidden;
  }
}

#mainCarousel .carousel__button.is-prev:hover,
#mainCarousel2 .carousel__button.is-prev:hover {
  opacity: 1 !important;
}

#mainCarousel .carousel__button.is-next:hover,
#mainCarousel2 .carousel__button.is-next:hover {
  opacity: 1 !important;
}

#mainCarousel .carousel__button:focus,
#mainCarousel2 .carousel__button:focus,
#mainCarousel3 .carousel__button:focus {
  outline: none;
  box-shadow: 0 0 0 0px #a78bfa;
}

#thumbCarousel .carousel__slide,
#thumbCarousel2 .carousel__slide,
#thumbCarousel3 .carousel__slide {
  opacity: 0.5;
  padding: 0;
  margin: 0.25rem;
  width: 96px;
  height: 64px;
}

#thumbCarousel .carousel__slide img,
#thumbCarousel2 .carousel__slide img,
#thumbCarousel3 .carousel__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

#thumbCarousel .carousel__slide.is-nav-selected,
#thumbCarousel2 .carousel__slide.is-nav-selected,
#thumbCarousel3 .carousel__slide.is-nav-selected {
  opacity: 1;
}

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

.test {
  transform: scale(0.85) !important;
}
